  
body {
    background: url(../img/background.gif) no-repeat center center fixed; 
    background-size: cover;
    background-size: cover;
    background-size: cover;
}

.copyright {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffff;
    padding-left: 500px;
}

.instagram-footer {
    padding-left: 488px;
}

.facebook-footer {
    padding-left: 32px;
}

.twitter-footer {
    padding-left: 36px;
}

.youtube-footer {
    padding-left: 39px;
}

::-webkit-scrollbar {
    background: none;
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-width: 0px 4px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-image: initial;
    border-radius: 9px / 4px;
    box-shadow: rgb(123 135 147) 0px 0px 0px 1px inset, rgb(63 77 90) 0px 0px 0px 4px inset;
}

::-webkit-scrollbar-track-piece {
    margin: 4px 0px;
}

.headertext {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffff;
    text-align: center;
}

.aboutme1 {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffff;
    padding-right: 990px;
    padding-bottom: 100px;
    padding-left: 10px;
}

.aboutme2 {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffff;
    padding-right: 10px;
    padding-left: 10px;
}

iframe {
    float: right;
    clear: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 481px) {

}  
